* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #333333;
    color: #dddddd;
    font-family: 'Arial', sans-serif;
    overflow: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 10vh;
    padding: 0 2vw;
}

.navbar .logo img {
    height: 8vh;
    width: auto;
}

.navbar-tabs a {
    color: white;
    text-decoration: none;
    padding: 1vh 1vw;
    font-size: 2vw;
    transition: background-color 0.3s;
}

.navbar-tabs a:hover, .navbar-tabs a.active {
    background-color: #555;
    border-bottom: 2px solid white;
}

.page-heading {
    text-align: center;
    font-size: 2.5em;
}

.contact {
    text-align: center;
    font-size: 1.1em;
}

.page-content {
    padding: 25px 100px;
}

.resume-page {
    background-color: #fdda06; /
}
.resume-page .navbar {
    background-color: #fdda06; 
}

.resume-page .left-side {
    background-color: #000; 
    width: 15%; 
    height: 100%; 
    position: absolute;
    left: 0;
    top: 0; 
    z-index: 1; 
}

.resume-page .main-content {
    position: absolute;
    left: 15%; 
    width: 85%; 
    top: 0;
    height: 100%;
    z-index: 5;
}

.resume-page .overlay {
    background-color: #000; 
    width: 15%; 
    height: 60%; 
    position: absolute;
    left: 15%; 
    top: 25vh; 
    z-index: 15;
}

.resume-page .resume-content {
    padding: 25px 0;
    color: #000; 
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar .logo img {
        height: 6vh;
    }

    .navbar-tabs a {
        font-size: 3vw;
    }

    .page-heading {
        font-size: 2em;
    }

    .contact {
        font-size: 1em;
    }

    .projects-content, .resume-content, .page-content {
        width: 95%;
        padding: 15px;
    }

    .project-item h2 {
        font-size: 1.2em;
    }

    .project-item p {
        font-size: 0.9em;
    }

    .resume-page .left-side,
    .resume-page .overlay {
        width: 100%;
        position: relative;
        height: auto;
        left: 0;
        top: auto;
        z-index: 1;
    }

    .resume-page .main-content {
        left: 0;
        width: 100%;
        z-index: 2;
    }
}
